@keyframes vaporwave-gradient {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400% 0;
    }
}

.backdrop {
    width: 100vh;
    height: max-content;
    z-index: -1;
    background-color: rgba(24, 24, 24, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mainContainer {
    margin-top: 5rem;
}

.projectContainer {
    margin-bottom: 10rem;
}

.projectText {
    width: 20%;
}

.project {
    width: 80%;
}

.projectTextContainer {
    width: 40%;
    margin-left: 2rem;
}

.desktop {
    width: 32vw;
}

.desktopbttle {
    width: 42vw;
}

.mobile {
    width: 9vw;
    margin-left: 10px;
}

.project-info {
    width: 45%;
    margin-left: 2rem;
}

.project-info>h1 {
    font-size: 1.5rem;
    color: #467edf;
}

.linksContainer>h5 {
    font-weight: lighter;
    font-family: 'Jost', sans-serif;
    color: white;
}

#container {
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    padding-bottom: .5rem;
}

#linksContDark {
    margin-left: -2rem;
}

.regTxtProjectDark {
    color: white;
}

@media screen and (max-width: 1000px) {
    .regTxtProject {
        font-size: .75rem;
    }
}

.projectSection {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.indiv-project {
    margin-bottom: 16rem;
}

#project-title {
    font-size: 2rem;
}

#links {
    font-weight: lighter;
    font-family: 'Jost', sans-serif;
}

#linksContDark>a {
    color: white;
}

@media screen and (max-width: 1000px) {
    .techBttle {
        width: 18vw;
    }
}