.terminal {
    background-image: url('/assets/images/LightModeAbout.png');
    margin: 2rem;
    width: 100%;
    height: 100vmax;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#aboutTitle {
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
    /* font-weight: lighter; */
}